Complete output from command git config --get-regexp remote\..*\.url:

----------------------------------------
Complete output from command git config --get-regexp remote\..*\.url:

----------------------------------------
## !! Could not determine repository location
LoggerP==0.0.0.1+git
## !! Could not determine repository location
LoggerProject==0.0.0.1+git
pymongo==3.7.2
pytz==2018.7
